* text=auto

*.py text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.csv text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.zip binary
*.pt binary
*.pth binary
